/*

0-600px ---Phone

600-900px ---Tablet portrait

900-1200px ---Tablet landscape

1200-1800px ---Desktop[Nasi stilovi]

1800-Infinite ---Big Desktop

    -phone
    -tab-port
    -tab-land
    -big-desktop
*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.heading-primary {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 6rem; }
  .heading-primary--main {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    display: block;
    animation-name: moveInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    backface-visibility: hidden; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    display: block;
    animation-name: moveInRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    backface-visibility: hidden; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: transparent;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  transition-property: transform;
  transition-duration: .1s;
  letter-spacing: .2rem;
  transition-timing-function: ease-in; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem black; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

body {
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  /*font-size:16px;*/
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  width: 100%;
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 14rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-border-1 {
  border: 1px solid red !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    display: block;
    clear: both;
    content: ''; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) /4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3  ) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) /  4) + 2 * 6rem); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to top right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%); }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
    width: auto; }
  .header__text-box {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    text-align: center; }

.footer {
  background-color: #333;
  padding: 10rem 0rem;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style-type: none; }
  .footer__link, .footer__link:link, .footer__link:visited {
    display: inline-block;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
    background-color: #333; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.2) rotate(5deg); }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    color: #f7f7f7;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.navigation__checkbox {
  display: none; }

.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  opacity: 1;
  width: 100%; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(90); }

.navigation__button {
  background-color: #fff;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 20;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__button:hover .navigation__icon::before {
  transform: translateY(-0.3rem); }

.navigation__button:hover .navigation__icon::after {
  transform: translateY(0.3rem); }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before, .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 50%;
    left: 50%; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: translate(-50%, -50%) rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: translate(-50%, -50%) rotate(-135deg); }

.navigation__icon {
  position: relative;
  width: 3.3rem;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    background-color: #333;
    height: 2px;
    transition: transform .3s, top .1s, left .1s,background-color .1s; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 10;
  backface-visibility: hidden;
  transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, width;
  transition-duration: .6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  backface-visibility: hidden; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link, .navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(-60deg, #fff 50%, transparent 50%);
  padding: 1rem 2rem;
  background-size: 250%;
  background-position-x: left;
  transition: all .5s; }

.navigation__link:hover {
  background-position-x: right;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__enumeration {
  padding-right: 1rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6); }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--animated {
  animation-delay: 0.4s;
  animation-name: moveInBottom;
  animation-duration: 0.5s;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  transition-property: transform, opacity;
  transition-duration: 0.4s;
  z-index: -1;
  top: 0;
  left: 0; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  border-bottom: 2px solid #55c57a;
  padding: 3px;
  transition: all .3s; }

.btn-text:hover {
  transform: translateY(-2px);
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  transform: translate(0px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    display: inline-block;
    height: auto;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    outline-offset: 1.5rem;
    z-index: 2; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
        outline-offset: 1rem; } }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: initial;
          left: initial;
          z-index: 1;
          transform: scale(1.1); } }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          right: initial;
          z-index: 2;
          transform: scale(1.3); } }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: initial;
          z-index: 1;
          transform: scale(1.2); } }
    .composition__photo:hover {
      z-index: 3;
      transform: scale(1.1) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      outline: 1rem solid #55c57a; }
      @media (max-width: 56.25em) {
        .composition__photo:hover {
          transform: scale(1.4) translateY(-1rem);
          outline: 0.5rem solid #55c57a; } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transition-property: box-shadow, transform;
  transition-duration: .2s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 1rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: border-box;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-2rem) scale(1.05);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4); }

.card {
  width: 100%;
  position: relative;
  height: 53rem;
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 53rem;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all .8s;
    border-radius: 3px; }
    .card__side--front {
      background-image: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(360deg); }
  .card__picture {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to bottom right, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to bottom right, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to bottom right, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    right: 2rem;
    top: 12rem;
    text-align: right;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style-type: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 0.5px solid #eee; }
  .card__cta {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card__price-box {
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      border-radius: 3px; }
      .card__side {
        position: relative;
        top: initial;
        left: initial;
        height: auto;
        box-shadow: none; }
        .card__side--back {
          height: auto;
          transform: rotateY(0deg);
          padding-bottom: 2rem;
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
          margin-top: -3rem;
          border-top-right-radius: 0; }
      .card:hover .card__side--front {
        transform: rotateY(0deg); }
      .card:hover .card__side--back {
        transform: rotateY(0deg); }
      .card__cta {
        position: relative;
        top: initial;
        left: initial;
        transform: translate(0, 0);
        margin: 0 auto; }
      .card__price-box {
        padding-top: 3rem;
        margin-bottom: 2rem; }
      .card__details {
        padding: 1rem 3rem 4rem 3rem; } }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0deg); } }
  .story > * {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story > * {
        transform: skewX(0deg); } }
  .story__shape {
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 15% 40%);
    shape-outside: circle(50% at 15% 40%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0deg); } }
  .story__image {
    height: 100%;
    transition: all .3s;
    transform: scale(1.2) translateX(-3rem);
    backface-visibility: hidden; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__image {
    transform: scale(1) translateX(-4rem);
    filter: blur(0.3rem) brightness(55%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  transition-property: box-shadow,border-bottom;
  transition-duration: .3s;
  display: block;
  width: 90%; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .form__input:focus:valid {
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid orange; }
  .form__input::placeholder {
    color: #999; }

.form__input:placeholder-shown + .form__label {
  visibility: hidden;
  opacity: 0;
  margin-left: 2rem;
  transform: translateY(-4rem); }

.form__label {
  font-size: 1.2rem;
  display: inline-block;
  font-weight: 600;
  margin-left: 2rem;
  transition: all .3s; }

.form__radio-group {
  display: inline-block;
  width: 40%; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__label-radio {
  font-size: 1.6rem;
  cursor: pointer; }

.form__radio-buttton {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid #28b485;
  position: relative;
  vertical-align: middle; }
  .form__radio-buttton::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #55c57a;
    height: 60%;
    width: 60%;
    transition: opacity .2s;
    opacity: 0; }

.form__radio-input {
  visibility: hidden; }

.form__radio-input:checked + .form__label-radio .form__radio-buttton::after {
  opacity: 1; }

.form__submit {
  font-style: inherit;
  border: none; }

.popup {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 40;
  transition-property: opacity;
  transition-duration: .3s;
  visibility: hidden;
  opacity: 0; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    border-radius: 5px;
    z-index: 42;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.3);
    transition-property: transform,opacity;
    transition-duration: .5s;
    transition-delay: .2s;
    opacity: 0; }
  .popup__left {
    display: table-cell;
    width: 33.333333333%; }
    @media (max-width: 56.25em) {
      .popup__left {
        letter-spacing: 0px;
        width: 100%;
        display: block;
        overflow: hidden; }
        .popup__left::after {
          display: block;
          content: '';
          clear: both; } }
  .popup__img {
    width: 100%;
    display: block;
    height: auto; }
    @media (max-width: 56.25em) {
      .popup__img {
        display: inline-block;
        float: left;
        width: 50%;
        height: 28rem; } }
    @media (max-width: 37.5em) {
      .popup__img {
        height: 16rem;
        object-fit: cover;
        object-position: bottom; } }
  .popup__right {
    display: table-cell;
    width: 66.666666666666666666667%;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media (max-width: 56.25em) {
      .popup__right {
        width: 100%;
        display: block;
        text-align: center; } }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto; }
  .popup__background-close {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 41;
    cursor: default; }
  .popup__close, .popup__close:link, .popup__close:visited {
    display: inline-block;
    position: absolute;
    top: 0rem;
    right: 1.5rem;
    font-size: 3rem;
    transition: color .2s;
    text-decoration: none;
    color: #777; }
  .popup__close:hover, .popup__close:active {
    color: #55c57a; }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 10rem; } }

.section-tours {
  margin-top: -12rem;
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  overflow: hidden; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0;
      width: 100%; } }

.section-stories {
  padding: 15rem 0;
  position: relative;
  overflow: hidden; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 10rem; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url("../img/nat-10.jpg"); } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url("../img/nat-10.jpg");
      width: 100%; } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
