*,
*::after,
*::before{
    margin:0px;
    padding:0px;
    box-sizing: inherit;
}
html{
    //Definise sta je 1rem, nije typography jer na osnovu ovoga iscrtavamo dimenzije
    font-size:62.5%;
}
body{
    box-sizing: border-box;
}
